## Latex build files
*.log
*.aux
*.bbl
*.blg
*.toc
*.fls
*.fdb_latexmk
*.rej
tex/*.pdf

## Figures
*.png
*.svg
*.fig

## Matlab files
*.asv
*.mat

## Untracked notes
notes/other
*Working*

## Tagged versions
tex/versions

## Python temporary files
img/code/__pycache__/
img/code/.ipynb_checkpoints/

## Other undesired extensions
*.lnk
*.dvi
*.gz
