## Latex build files
*.log
*.aux
*.bbl
*.blg
*.toc
*.pdf

## Figures
*.png
*.svg
*.fig

## Matlab files
*.asv
*.mat

## Exclude notes
notes/

## Python temporary files
img/code/__pycache__/
img/code/.ipynb_checkpoints/

## Other undesired extensions
*.lnk
*.dvi
*.gz
